<div class="container" data-ng-controller="SimpleController">
	<div>Users (View 2)</div>
	<input type="text" data-ng-model="city">
	<ul>
		<li data-ng-repeat="user in customers | filter: city | orderBy: 'city'">{{ user.name }} in city of {{user.city | uppercase}} Net Worth: {{user.netWorth | currency}}</li>
	</ul>
</div>