<div class="container" data-ng-controller="SimpleController">
	<div>Users (View 1)</div>
	<input type="text" data-ng-model="filter.name">
	<ul>
		<li data-ng-repeat="user in customers | filter: filter.name | orderBy: 'city'">{{ user.name }} in city of {{user.city | uppercase}} Net Worth: {{user.netWorth | currency}}</li>
	</ul>
</div>
Customer Name<br>
<input type="text" data-ng-model="newCustomer.name">
Customer City<br>
<input type="text" data-ng-model="newCustomer.city">