<!DOCTYPE>
<html data-ng-app="demoApp">
	<head>
		<title>Angular intro</title>
	</head>
	<body>
		<div>
			Filter by name<input type="text" data-ng-model="name">{{name}}
		</div>
		
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="angular-route.min.js"></script>
		
		<script>
		  var demoApp = angular.module("demoApp", ['ngRoute'])
		  
		  demoApp.config(['$routeProvider',
		  	function($routeProvider) {
				$routeProvider
					.when('/',
						{
							controller: 'SimpleController',
							templateUrl: 'partials/view1.html'
						})
					.when('/partial2',
						{
							controller: 'SimpleController',
							templateUrl: 'partial/view2.html'
						})
					.otherwise({ redirectTo: '/'});
			}]);

		  var controllers = {};

			controllers.SimpleController = function($scope) {
				$scope.customers = [
					{name:'Jeet',city:'Nangal', netWorth: 25000}, 
					{name:'Tony',city:'Reston', netWorth: 33000}, 
					{name:'Sanjeev',city:'Fairfax', netWorth: 50000},
					{name:'Aneel',city:'Ashburn', netWorth: 150000}
				];
			};

			demoApp.controller(controllers);

			

		</script>

	</body>
</html>